/.gradle/
/reports/
/generated/
chat.api/bin
chat.api/.settings
chat.api/generated
chat.vertx.bootstrap/.settings
chat.vertx.http/generated
chat.vertx.http/.settings
chat.vertx.http/bin
chat.vertx.messaging.storage/.settings
chat.vertx.messaging.storage/bin
chat.vertx.messaging.storage/generated
chat.vertx.mongo/.settings
chat.vertx.mongo/bin
chat.vertx.mongo/generated
chat.vertx.sockjs/generated
chat.vertx.sockjs/bin
chat.vertx.sockjs/.settings
